$primary-background: #FFFFFF;
$primary-background-completed: #f9f9f9;
$secondary-background:#E4EEF8;

$primary-color: #43729D;
$primary-color-hover: #4a7dac;
$secondary-color: #CDE0F1;
$secondary-color-hover: #c3d5e6;

$text-button-hover: rgb(67, 114, 157, 0.08);
$text-button-active: rgb(67, 114, 157, 0.12);
$close-button-hover: rgb(153, 153, 153, 0.08);
$close-button-active: rgb(153, 153, 153, 0.12);

$pure-white: #FFFFFF;

$primary-text: #333;
$light-gray: #999;

$divider-color: #eee;

$shadow-1: rgba(0,0,0,0.15);
$shadow-2: rgba(0,0,0,0.30);